<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hops.hops_new_api.common.mapper.NiceCertificationMapper">
    <insert id="regUserCertify" parameterType="com.hops.hops_new_api.common.model.data.UserCertifyDto" useGeneratedKeys="true" keyProperty="userCertifyNo">
        insert into HC_USER_CERTIFY (
            USER_CERTIFY_DIV,
            MOBILE_NO,
            USER_CERTIFY_TYPE,
            REG_DT,
            CERTIFY_ST
        ) values (
                     #{userCertifyDiv},
                     #{mobileNo},
                     #{userCertifyType},
                     DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s'),
                     #{certifySt}
                 )
    </insert>

    <select id="getServiceStaticInfo" resultType="String" parameterType="String">
        SELECT
            INFO_VALUE
        FROM
            HC_SERVICE_INFO
        WHERE
            SERVICE_INFO_ID = #{SERVICE_INFO_ID}
    </select>

    <select id="getServiceInfo" resultType="String" parameterType="String">
        SELECT INFO_VALUE
        FROM HC_SERVICE_INFO
        WHERE SERVICE_INFO_ID = #{SERVICE_INFO_ID}
            AND REG_DT BETWEEN DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 50 MINUTE), '%Y%m%d%H%i%s') AND DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s')
    </select>

    <update id="updtStTo80" parameterType="int">
        update HC_USER_CERTIFY
        set certify_st = '80'
        where USER_CERTIFY_NO = #{USER_CERTIFY_NO}
    </update>

    <update id="updtServiceInfoRegDt" parameterType="com.hops.hops_new_api.common.model.data.ServiceInfoDto">
        UPDATE HC_SERVICE_INFO
        SET REG_DT = DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s')
        WHERE service_info_id IN (#{keyId}, #{ivId}, #{hmacId}, #{siteCodeId}, #{tokenVersionId})
    </update>

    <update id="updtIvPhone" parameterType="java.lang.String">
        update HC_SERVICE_INFO set info_value = #{info_value} where SERVICE_INFO_ID = '2002'
    </update>

    <update id="updtKeyPhone" parameterType="java.lang.String">
        update HC_SERVICE_INFO set info_value = #{info_value} where SERVICE_INFO_ID = '2001'
    </update>

    <update id="updtHmacKeyPhone" parameterType="java.lang.String">
        update HC_SERVICE_INFO set info_value = #{info_value} where SERVICE_INFO_ID = '2003'
    </update>

    <update id="updtSiteCodePhone" parameterType="java.lang.String">
        update HC_SERVICE_INFO set info_value = #{info_value} where SERVICE_INFO_ID = '2004'
    </update>

    <update id="updtTokenVersionIdPhone" parameterType="java.lang.String">
        update HC_SERVICE_INFO set info_value = #{info_value} where SERVICE_INFO_ID = '2005'
    </update>

    <update id="updtIvIpin" parameterType="java.lang.String">
        update HC_SERVICE_INFO set info_value = #{info_value} where SERVICE_INFO_ID = '2012'
    </update>

    <update id="updtKeyIpin" parameterType="java.lang.String">
        update HC_SERVICE_INFO set info_value = #{info_value} where SERVICE_INFO_ID = '2011'
    </update>

    <update id="updtHmacKeyIpin" parameterType="java.lang.String">
        update HC_SERVICE_INFO set info_value = #{info_value} where SERVICE_INFO_ID = '2013'
    </update>

    <update id="updtSiteCodeIpin" parameterType="java.lang.String">
        update HC_SERVICE_INFO set info_value = #{info_value} where SERVICE_INFO_ID = '2014'
    </update>

    <update id="updtTokenVersionIdIpin" parameterType="java.lang.String">
        update HC_SERVICE_INFO set info_value = #{info_value} where SERVICE_INFO_ID = '2015'
    </update>

    <update id="updateUserCertify" parameterType="com.hops.hops_new_api.common.model.data.UserCertifyDto">
        update HC_USER_CERTIFY
        set CERTIFY_ST = #{certifySt}
          , CI = #{ci}
          , DI = #{di}
          , USER_NAME = #{userName}
          , BIRTHDAY = #{birthday}
          , GENDER_CD = #{genderCd}
          , DOMESTIC_YN = #{domesticYn}
          , MOBILE_NO = #{mobileNo}
        where USER_CERTIFY_NO = #{userCertifyNo} and CERTIFY_ST = '10'
    </update>

    <select id="getAlreadyCommonUserInfo" parameterType="String" resultType="Integer">
        SELECT IFNULL(COMMON_USER_NO, 0) AS USER_NO
        FROM HC_USER_COMMON
        WHERE USER_CI = #{userCi}
          AND USER_ST = '00'
    </select>

    <select id="getAlreadyUserInfo" parameterType="String" resultType="com.hops.hops_new_api.common.model.data.UserDto">
        SELECT IFNULL(HU.USER_NO, 0) AS USER_NO
             , HC.CUSTOMER_NAME
             , HU.USER_ID
             , HU.ADDRRESS
             , HU.ADDRRESS_DETAIL
             , HU.ZIP_CD
             , HU.PHONE_NO
             , HU.MOBILE_NO
             , HU.BIRTHDAY
             , HU.USER_NAME
             , HU.EMAIL
        FROM HC_USER HU
         JOIN HC_CUSTOMER HC ON HU.CUSTOMER_ID = HC.CUSTOMER_ID
        WHERE HU.USER_CI = #{ci}
          AND HU.USER_ST = '00'
        ORDER BY USER_NO DESC
            LIMIT 1
    </select>
</mapper>