<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hops.hops_new_api.common.mapper.UserLoginMapper">
    <select id="getCommonUserNo" parameterType="com.hops.hops_new_api.common.model.Request.UserLoginRequest" resultType="Integer">
        select huc.COMMON_USER_NO
        from HC_USER_COMMON huc
        where huc.USER_ID = #{userId}
          and huc.LOGIN_PASSWORD = #{loginPassword}
    </select>

    <select id="getUserCi" parameterType="String" resultType="String">
        select CI from HC_USER_CERTIFY
        where USER_CERTIFY_DIV='10'
          and CERTIFY_ST != '10'
          and USER_CERTIFY_NO  = #{userCertigfyNo}
    </select>

    <select id="getCommonUserIdDupCheck" parameterType="com.hops.hops_new_api.common.model.data.UserIdDupCheckDto" resultType="int">
        select count(huc.USER_ID)
        from HC_USER_COMMON huc left join HC_USER hu
        on huc.USER_ID = hu.USER_ID and huc.USER_CI = hu.USER_CI
        where huc.USER_ID = #{userId}
          and huc.USER_CI!= #{userCi}
    </select>

    <select id="getCertifyInfoByKey" parameterType="String" resultType="com.hops.hops_new_api.common.model.data.UserCertifyDto">
        SELECT CI
             , DI
             , USER_NAME
             , MOBILE_NO
             , BIRTHDAY
             , GENDER_CD
             , DOMESTIC_YN
        FROM HC_USER_CERTIFY
        WHERE USER_CERTIFY_NO = #{userCertifyNo}
          AND ((CERTIFY_ST = '50' AND USER_CERTIFY_DIV = '10') OR (CERTIFY_ST = '70' AND USER_CERTIFY_DIV = '80'))
          AND REG_DT BETWEEN DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 10 MINUTE), '%Y%m%d%H%i%s') AND DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s')
    </select>

    <update id="updtCertifySt" parameterType="java.lang.String">
        UPDATE HC_USER_CERTIFY SET CERTIFY_ST='70' WHERE USER_CERTIFY_NO = #{userCertifyNo}
    </update>

    <select id="getCommonUserCount" resultType="int">
        SELECT COUNT(*)
        FROM HC_USER_COMMON
        WHERE USER_CI = #{userCi}
          AND USER_ST = '00'
    </select>

    <insert id="joinCommonUser" parameterType="com.hops.hops_new_api.common.model.data.CommonUserDto" useGeneratedKeys="true" keyProperty="commonUserNo">
        INSERT INTO HC_USER_COMMON (
            USER_ID,
            USER_NAME,
            MOBILE_NO,
            BIRTHDAY,
            GENDER_CD,
            LOGIN_PASSWORD,
            EMAIL,
            ADDRESS,
            ADDRESS_DETAIL,
            ZIP_CD,
            SERVICE_TERMS_OF_USE,
            PRIVACY_POLICY,
            JOIN_DT,
            USER_ST,
            USER_CI,
            USER_DI,
            DOMESTIC_YN,
            AGREE_TERMS_LIST,
            MARKETING_AGR_YN,
            LAST_PASSWORD_CHANGE_DT
        )
        VALUES (
                   #{userId},
                   #{userName},
                   #{mobileNo},
                   #{birthday},
                   #{genderCd},
                   #{loginPassword},
                   #{email},
                   #{address},
                   #{addressDetail},
                   #{zipCd},
                   #{serviceTermsOfUse},
                   #{privacyPolicy},
                   DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s'),
                   #{userSt},
                   #{userCi},
                   #{userDi},
                   #{domesticYn},
                   #{agreeTermsList},
                   #{marketingAgrYn},
                   DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s')
               )
    </insert>

    <select id="getCommonUser" parameterType="int" resultType="com.hops.hops_new_api.common.model.data.UserDto">
        select USER_ID,
               USER_NAME,
               MOBILE_NO,
               BIRTHDAY,
               GENDER_CD,
               LOGIN_PASSWORD,
               EMAIL,
               ADDRESS,
               ADDRESS_DETAIL,
               ZIP_CD,
               SERVICE_TERMS_OF_USE,
               PRIVACY_POLICY,
               JOIN_DT,
               USER_ST,
               PHONE_NO,
               USER_CI,
               USER_DI,
               LAST_PASSWORD_CHANGE_DT,
               AGREE_TERMS_LIST,
               MARKETING_AGR_YN,
               DORMANT_YN,
               LOGIN_PASSWORD,
               LOGIN_DT
        from HC_USER_COMMON
        where COMMON_USER_NO = #{commonUserNo}
    </select>

    <select id="checkB2CUser" resultType="int">
        select count(hu.USER_NO) from HC_USER_COMMON huc
          join HC_CUSTOMER_MAP hcm on huc.COMMON_USER_NO = hcm.COMMON_USER_NO
          join HC_USER hu on hcm.USER_NO = hu.USER_NO
        where huc.COMMON_USER_NO = #{commonUserNo}
          and hcm.CUSTOMER_ID = 'C000008035'
    </select>

    <insert id="regB2CUser" parameterType="com.hops.hops_new_api.common.model.data.UserDto" useGeneratedKeys="true" keyProperty="userNo">
        INSERT INTO HC_USER (
            USER_ID,
            USER_NAME,
            MOBILE_NO,
            BIRTHDAY,
            GENDER_CD,
            LOGIN_PASSWORD,
            EMAIL,
            ADDRRESS,
            ADDRRESS_DETAIL,
            ZIP_CD,
            SERVICE_TERMS_OF_USE,
            PRIVACY_POLICY,
            JOIN_DT,
            USER_ST,
            CUSTOMER_ID,
            USER_CI,
            USER_DI,
            AGREE_TERMS_LIST,
            MARKETING_AGR_YN,
            DORMANT_YN,
            LAST_PASSWORD_CHANGE_DT
        )
        VALUES (
                   #{userId},
                   #{userName},
                   #{mobileNo},
                   #{birthday},
                   #{genderCd},
                   #{loginPassword},
                   #{email},
                   #{address},
                   #{addressDetail},
                   #{zipCd},
                   #{serviceTermsOfUse},
                   #{privacyPolicy},
                   #{joinDt},
                   #{userSt},
                   #{customerId},
                   #{userCi},
                   #{userDi},
                   #{agreeTermsList},
                   #{marketingAgrYn},
                   #{dormantYn},
                   #{lastPasswordChangeDt}
               )
    </insert>

    <insert id="regCustomerMap" parameterType="com.hops.hops_new_api.common.model.Request.RegCommonUserRequest">
        INSERT INTO HC_CUSTOMER_MAP (
            COMMON_USER_NO,
            USER_NO,
            CUSTOMER_ID,
            REG_DT
        )
        VALUES
        <foreach item="item" index="index" collection="customerMaps" open="(" separator="),(" close=")">
            #{item.commonUserNo},
            #{item.userNo},
            #{item.customerId},
            DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s')
        </foreach>
    </insert>

    <select id="getUserLoginResponse" resultType="com.hops.hops_new_api.common.model.Response.UserLoginResponse">
        select huc.COMMON_USER_NO,
                huc.USER_NAME,
                huc.GENDER_CD,
                count(hr.RESERV_NO) reservCount,
                LEFT(DATE_FORMAT(huc.LOGIN_DT, '%Y%m%d%H%i%S%f'), 16) loginDt
        from HC_USER_COMMON huc
        join HC_CUSTOMER_MAP hcm
            on huc.COMMON_USER_NO = hcm.COMMON_USER_NO
        join HC_USER hu
            on hcm.USER_NO = hu.USER_NO
        left join HC_CHECKUP_ROSTER hcr
            on hu.USER_NO = hcr.USER_NO and hcr.CHECKUP_ROSTER_ST not in ('80', '90')
        left join HC_RESERV hr
            on hcr.CHECKUP_ROSTER_NO = hr.CHECKUP_ROSTER_NO and hr.RESERV_ST not in ('80', '90')
        where huc.COMMON_USER_NO = #{commonUserNo}
        and hu.USER_ST not in ('90')
    </select>

    <select id="getMappingCustomerUser" resultType="com.hops.hops_new_api.common.model.data.CustomerMapDto">
        select huc.COMMON_USER_NO, hu.USER_NO ,hu.CUSTOMER_ID
        from HC_USER hu
                 join HC_USER_COMMON huc
                      on hu.USER_CI = huc.USER_CI
                 left join HC_CUSTOMER_MAP hcm
                           on hu.USER_NO = hcm.USER_NO and huc.COMMON_USER_NO = hcm.COMMON_USER_NO
        where hu.USER_CI = #{userCi}
          and hu.USER_ST not in ('90')
          and hcm.USER_NO is null
    </select>

    <update id="updateCommonUserLoginDt">
        UPDATE HC_USER_COMMON
        SET LOGIN_DT = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
        WHERE COMMON_USER_NO = #{commonUserNo}
    </update>

    <update id="updateUserLoginDt">
        UPDATE HC_USER
        SET LOGIN_DT = (select LOGIN_DT from HC_USER_COMMON where COMMON_USER_NO = #{commonUserNo})
        WHERE USER_NO in (
            select common.USER_NO from
            (select hc.USER_NO from HC_USER hc
                join HC_CUSTOMER_MAP hcm on hc.USER_NO = hcm.USER_NO
                where hcm.COMMON_USER_NO = '252'
                and hc.USER_ST not in ('90')) common)
    </update>
</mapper>