<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hops.hops_new_api.common.mapper.UserLoginMapper">
    <select id="getCommonUser" parameterType="com.hops.hops_new_api.common.model.Request.UserLoginRequest" resultType="com.hops.hops_new_api.common.model.data.CustomerMapDto">
        select hcm.COMMON_USER_NO,
               hcm.USER_NO,
               hcm.CUSTOMER_ID
        from HC_USER_COMMON huc
                 join HC_CUSTOMER_MAP hcm
                      on huc.COMMON_USER_NO = hcm.COMMON_USER_NO
        where huc.USER_ID = ${userId}
          and huc.LOGIN_PASSWORD = ${userPassword}
    </select>

</mapper>